* {
  box-sizing: border-box;
}

html {
  padding: 5px;
}

body {
  font-size:16px;
  margin:auto;
  max-width: 500px;
  font-family:BlinkMacSystemFont,'Helvetica Neue',sans-serif;
  color: #111;
  margin-bottom: 100px;
  line-height: 1.4;
}

body a {
  color: #0b51de;
}

.help {
  font-size: .85rem;
  margin-bottom: 2rem;
}

.files-info {
  margin-bottom: 2rem;
}

.file-form {
  margin-bottom: 2rem;
  position: relative;
  height: 245px;
}

.file-form .header {
  position: relative;
  display: flex;
  border: 1px solid #9e9e9e;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  padding: .5rem;
}


.file-form .header button {
  border: 0;
  font-size: .85rem;
  padding: 0 5px;
  color: #111;
  height: 28px;
}


.file-form .header .remove {
  margin-right: .5rem;
  margin-left: auto;
}

.file-form .header .remove span {
  text-decoration: underline;
}

.file-form .header button span,
.file-form .header button img {
  display: inline-block;
  line-height: 100%;
  vertical-align: middle;
}

.file-form .header .edit-btn,
.file-form .header .preview-markdown-btn {
  position: absolute;
  left: 205px;
  background: #eee;
  border: 1px solid #9e9e9e;
  font-size: .75rem;
  margin-left: 1rem;
}

.file-form .header .edit-btn:hover,
.file-form .header .preview-markdown-btn:hover {
  background: #ddd;
}

.file-form .header .edit-btn img,
.file-form .header .preview-markdown-btn img {
  width: 15px;
  height: 15px;
  margin-left: 3px;
}

input[name="path"] {
  width: 200px;
  margin-bottom: 0;
  display: inline-block;
}

input,
label,
textarea {
  display: block;
}

label {
  margin-bottom: .25rem;
  font-size: .85rem;
  font-weight: 500;
}

input,
textarea{
  margin-bottom: 1rem;
  width:100%;
  font-size: .85rem;
  padding: .3rem .4rem;
  outline: none;
  border: 1px solid #9e9e9e;
  border-radius: 3px;
  vertical-align: baseline;
}

input::-webkit-input-placeholder {
  color: #bbb;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #9e9e9e;
}

input:focus,
textarea:focus {
  border: 1px solid #0b51de;
}

textarea {
  position: absolute;
  resize: none;
  color: #111;
  font-size: .8rem;
  font-family: Consolas, 'Lucida Console', Monaco, monospace;
  font-size: .8rem;
}

textarea,
.markdown-preview {
  position: absolute;
  z-index: 0;
  height: 200px;
  border-radius: 0 0 3px 3px;
  background: #fff;
}

.markdown-preview {
  margin: 0;
  border: 1px solid #9e9e9e;
  padding: .3rem .75rem;
  width: 100%;
  font-size: .9rem;
  overflow-y: scroll;
}

textarea.hidden,
.markdown-preview.hidden {
  z-index: -1;
  overflow-y: auto;
}

#message {
  padding: 5px 10px;
  border-radius: 3px;
  color: #9e9e9e;
  border: 2px solid;
  font-size: .85rem;
  position: absolute;
  bottom: 80px;
  right: 1rem;
}

#message:empty {
  visibility: hidden;
  height: 32px;
}

#message.info {
  color: #ffc107;
}

#message.error {
  color: #f44336;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: #fff;
  border-top: 1px solid #ddd;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem 0;
  box-shadow: 0 0 1px #ddd;
}

footer .info {
  font-size: .9rem;
  margin-left: 1rem;
}

footer .actions {
  margin-right: 1rem;
}

button {
  border: 0;
  outline: 0;
  background: none;
  font-size: .95rem;
  padding: .65rem 1rem;
  border: 2px solid;
  border-radius: 3px;
  cursor: pointer;
  border-color: #0b51de;
  color: #0b51de;
  margin-right: .5rem;
  width: auto;
}

button:last-child {
  margin-right: 0;
}

button:hover {
  background: #eee;
}

button.primary {
  background: #2167f3;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  border: 2px solid transparent;
  border-color: #0b51de;
}

button.primary:hover {
  background: #0b51de;
}

button:empty {
  visibility: hidden;
}
